<mat-grid-list class="container" cols="4" rowHeight="600px">
    <mat-grid-tile colspan="3">
        <div class="table-container">
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput [(ngModel)]="searchtext" (keyup)="applyFilter()" placeholder="Ex. Mia" #input>
            </mat-form-field>

            <div class="example-container mat-elevation-z8">
                <div class="example-loading-shade"
                    *ngIf="isLoadingResults || isRateLimitReached">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                    </div>
                </div>
    
                <div class="example-table-container">
    
                    <table mat-table [dataSource]="data" class="example-table"
                        matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                    <!-- Number Column -->
                    <ng-container matColumnDef="productId">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let row">{{row.productId}}</td>
                    </ng-container>
    
                    <!-- Title Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let row">{{row.name}}</td>
                    </ng-container>
    
                    <!-- State Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell *matCellDef="let row">{{row.price}}</td>
                    </ng-container>
    
                    <!-- State Column -->
                    <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef>Stock</th>
                        <td mat-cell *matCellDef="let row">{{row.stock}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="actionButton">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button (click)="buyProduct(row.productId)" mat-raised-button color="primary">Buy</button>
                            <button (click)="editProduct(row.productId)" mat-raised-button color="accent">Edit</button>
                            <button (click)="deleteProduct(row.productId)" mat-raised-button color="warn">Delete</button>
                        </td>
                    </ng-container>
                    <!-- Created Column -->
                    <!--
                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                        Created
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
                    </ng-container>
                    -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
    
                <mat-paginator [length]="resultsLength" [pageSizeOptions]="[2, 5, 25, 100]" aria-label="Select amount of results"></mat-paginator>
            </div>
        </div>
    </mat-grid-tile>


    <mat-grid-tile  colspan="1">
        <div class="action-buttons-container">
            <div class="button">
                <button mat-raised-button color="primary">Login</button>
            </div>
            <div class="button">
                <button mat-raised-button color="accent">Log out</button>
            </div>
            <div class="button">
                <a routerLink="/addProduct">
                    Add Product
                </a>
                <!--<button mat-raised-button color="primary">Add Product</button>-->
                
            </div>
            <mat-checkbox [(ngModel)]="sortAPI" (ngModelChange)="sortChanged()">Sort</mat-checkbox>
        </div>
        
    </mat-grid-tile>

    <mat-grid-tile  colspan="4">
        <div class="form-container">
            <app-add-edit-product></app-add-edit-product>
        </div>
        
    </mat-grid-tile>
    
    
</mat-grid-list>